VITE_FIREBASE_API_KEY=AIzaSyCYpqEad0U-I0PDgtM_VEER5fwdl_QMRFI
VITE_FIREBASE_AUTH_DOMAIN=myworth-f5331.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=myworth-f5331
VITE_FIREBASE_STORAGE_BUCKET=myworth-f5331.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=98962767676
VITE_FIREBASE_APP_ID=1:98962767676:web:217ce46b4c53544d7f6839
